{% extends 'base_usuario.html' %}

{% block admin_navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% if administrador.id %}
            <a class="navbar-brand" href="{% url 'dashboard_administrador' id=administrador.id %}">{{ administrador.username }} | Panel Administración</a>
        {% else %}
            <a class="navbar-brand" href="#">Panel Administración</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Vendedor -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarVendedor" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Vendedores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarVendedor">
                        <li><a class="dropdown-item" href="{% url 'listar_vendedores' %}">Mostrar Vendedores</a></li>
                        <li><a class="dropdown-item" href="{% url 'crear_vendedor' %}">Agregar Vendedor</a></li>
                    </ul>
                </li>
                <!-- Bodeguero -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarBodeguero" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bodegueros
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarBodeguero">
                        <li><a class="dropdown-item" href="{% url 'listar_bodegueros' %}">Mostrar Bodegueros</a></li>
                        <li><a class="dropdown-item" href="{% url 'crear_bodeguero' %}">Agregar Bodeguero</a></li>
                    </ul>
                </li>
                <!-- Contador -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarContador" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Contadores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarContador">
                        <li><a class="dropdown-item" href="{% url 'listar_contadores' %}">Mostrar Contadores</a></li>
                        <li><a class="dropdown-item" href="{% url 'crear_contador' %}">Agregar Contador</a></li>
                    </ul>
                </li>
                <li>
                    <form action="{% url 'cerrar_sesion_administrador' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning" onclick="return confirm('¿Estás seguro que deseas cerrar sesión?');">Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}