{% extends 'base_cliente.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/cliente/catalogo_productos.css' %}">
{% endblock %}

{% block title %}
Productos
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="contenedor">
    <div class="filtros">
        <h2>Filtros</h2>
        <form method="GET">
            <div class="filtro">
                <label for="categoria">Categoría</label>
                <select name="categoria" id="categoria">
                    <option value="">Todas</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}" {% if categoria.id|stringformat:"s" == categoria_id %}selected{% endif %}>{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filtro rango-precio">
                <label for="precio_min">Rango de precios</label>
                <input type="range" min="{{ precio_min_valor }}" max="{{ precio_max_valor }}" value="{{ precio_max|default_if_none:precio_max_valor }}" id="precio_rango" class="custom-range">
                <div>
                    <span>Precio: $<span id="precio_min_display">{{ precio_min_valor }}</span> — $<span id="precio_max_display">{{ precio_max|default_if_none:precio_max_valor }}</span></span>
                </div>
                <input type="hidden" name="precio_min" id="precio_min" value="{{ precio_min|default_if_none:precio_min_valor }}">
                <input type="hidden" name="precio_max" id="precio_max" value="{{ precio_max|default_if_none:precio_max_valor }}">
            </div>
            <div class="filtro checkbox-custom">
                <input type="checkbox" name="activo" id="activo" value="true" {% if activo %}checked{% endif %}>
                <label for="activo">Solo Activos</label>
            </div>
            <button type="submit">Filtrar</button>
        </form>
        <form method="GET">
            <button type="submit" class="btn btn-secondary mt-2 btn-limpiar">Limpiar Filtros</button>
        </form>
    </div>
    <div class="productos">
        {% for producto in page_obj %}
            <div class="producto">
                <div class="detalles">
                    <h3>{{ producto.nombre|truncatechars:60 }}</h3>
                    <img src="{{ producto.foto.url }}" alt="{{ producto.nombre }}">
                    <p class="descripcion">{{ producto.descripcion|truncatechars:150 }}</p>
                    <div class="precio-stock">
                        <p>${{ producto.precio }}</p>
                        <p>Stock: {{ producto.stock }}</p>
                    </div>
                </div>
                <div class="botones">
                    {% if producto.activo %}
                        <a href="{% url 'producto_individual' producto.id %}" class="btn btn-info mb-2">Ver más</a>
                        <button class="btn btn-success mb-2 add-to-cart" data-id="{{ producto.id }}" data-name="{{ producto.nombre }}" data-image="{{ producto.foto.url }}" data-stock="{{ producto.stock }}" data-price="{{ producto.precio }}" data-logged-in="{{ request.session.is_cliente_logged_in }}">Agregar al carrito</button>
                        <button class="btn btn-primary mb-2 buy-now" data-id="{{ producto.id }}" data-name="{{ producto.nombre }}" data-image="{{ producto.foto.url }}" data-stock="{{ producto.stock }}" data-price="{{ producto.precio }}" data-logged-in="{{ request.session.is_cliente_logged_in }}">Comprar</button>
                    {% else %}
                        <button class="btn btn-secondary mb-2" disabled>Sin stock</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="pagination-container mt-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&categoria={{ categoria_id }}&precio_min={{ precio_min }}&precio_max={{ precio_max }}&activo={{ activo }}" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}&categoria={{ categoria_id }}&precio_min={{ precio_min }}&precio_max={{ precio_max }}&activo={{ activo }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&categoria={{ categoria_id }}&precio_min={{ precio_min }}&precio_max={{ precio_max }}&activo={{ activo }}" aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var precioRango = document.getElementById('precio_rango');
        var precioMinDisplay = document.getElementById('precio_min_display');
        var precioMaxDisplay = document.getElementById('precio_max_display');
        var precioMinInput = document.getElementById('precio_min');
        var precioMaxInput = document.getElementById('precio_max');
    
        precioRango.addEventListener('input', function() {
            var value = parseInt(precioRango.value);
            precioMaxDisplay.textContent = value;
            precioMaxInput.value = value;
        });
    
        // Inicializa los valores al cargar la página
        precioMinDisplay.textContent = precioRango.min;
        precioMaxDisplay.textContent = precioRango.value;
    });
</script>
{% endblock %}