{% extends 'base_cliente.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/cliente/style_producto_individual.css' %}">
{% endblock %}

{% block title %}
Producto
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load moneda_filtro %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ producto.foto.url }}" alt="Foto Producto Individual" /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: {{ producto.id }}</div>
                <h1 class="display-5 fw-bolder">{{ producto.nombre }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ producto.precio|formateo_precio }}</span>
                </div>
                <p class="lead">{{ producto.descripcion }}</p>
                {% if producto.activo %}
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0 add-to-cart me-2" type="button"
                        data-id="{{ producto.id }}" data-name="{{ producto.nombre }}" data-image="{{ producto.foto.url }}" 
                        data-stock="{{ producto.stock }}" data-price="{{ producto.precio }}" 
                        data-logged-in="{{ request.session.is_cliente_logged_in }}">
                        <i class="bi-cart-fill me-1"></i>
                        Agregar al carrito
                    </button>
                    <button class="btn btn-primary flex-shrink-0 buy-now" type="button"
                        data-id="{{ producto.id }}" data-name="{{ producto.nombre }}" data-image="{{ producto.foto.url }}" 
                        data-stock="{{ producto.stock }}" data-price="{{ producto.precio }}" 
                        data-logged-in="{{ request.session.is_cliente_logged_in }}">
                        Comprar
                    </button>
                </div>
                {% else %}
                <button class="btn btn-secondary" disabled>Sin stock</button>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Otros productos</h2>
        <div class="carousel-wrapper">
            <div id="product-carousel" class="product-group row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for p in page_obj %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="collection-img position-relative">
                            <a href="{% url 'producto_individual' p.id %}">
                                <img src="{{ p.foto.url }}" class="w-100" style="height: 200px;">
                            </a>
                        </div>                        
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ p.nombre }}</h5>
                                <!-- Product price-->
                                {{ p.precio|formateo_precio }}
                                
                                <div>Stock: {{ p.stock }}</div>
                                {% if p.activo %}
                                <button class="btn btn-success mb-2 add-to-cart" data-id="{{ p.id }}" data-name="{{ p.nombre }}" data-image="{{ p.foto.url }}" data-stock="{{ p.stock }}" data-price="{{ p.precio }}" data-logged-in="{{ request.session.is_cliente_logged_in }}">Agregar al carrito</button>
                                <button class="btn btn-primary mb-2 buy-now" data-id="{{ p.id }}" data-name="{{ p.nombre }}" data-image="{{ p.foto.url }}" data-stock="{{ p.stock }}" data-price="{{ p.precio }}" data-logged-in="{{ request.session.is_cliente_logged_in }}">Comprar</button>
                                {% else %}
                                <button class="btn btn-secondary mb-2" disabled>Sin stock</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}